@import '../theme/palette.module';

.head {
  position: fixed;
  width: 100%;
  top: 0;
  background: $bgMain;
  height: 45px;
  box-shadow: 0px 3px 6px -3px $shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondary;

  .btmMenu {
    color: $primary;
    background: transparent;
  }

  .rightBox {
    .btnExit {
      color: $red;
    }
  }
}

.menu {
  padding: 0;
  background: transparent;
  border-right: none;

  .menuItem {
    background: transparent;
    color: $primary;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
    margin-bottom: 0 !important;

    &:hover {
      color: $primary;
      background: #9c9c9c94;
    }
  }
}
